@model IEnumerable<Aplicacoes.Models.DepartamentoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Nova Instituição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstituicaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instituicao.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstituicaoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instituicao.Endereco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InstituicaoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InstituicaoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InstituicaoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
